<div class="chat-page">

  <!-- Top bar -->
  <div class="chat-header">
    <h2>Chat</h2>
    <button (click)="logout()">Log out</button>
  </div>

  <!-- Main content -->
  <div class="chat-body">

    <!-- Left: conversations -->
    <div class="conversations">
      <div
        class="conversation"
        *ngFor="let convo of conversations"
        (click)="selectConversation(convo.id)"
        [class.active]="convo.id === selectedConversationId"
      >
        <div class="name">{{ convo.name }}</div>
        <div class="preview">{{ convo.lastMessage }}</div>
        <div class="time">{{ convo.updatedAt }}</div>
      </div>
    </div>


    <!-- Right: messages -->
<div class="messages-panel">

  <div class="messages">
    <ng-container *ngIf="selectedConversationId; else noConversation">

      <div
        class="message"
        *ngFor="let msg of selectedMessages"
        [class.me]="msg.sender === 'me'"
        [class.other]="msg.sender === 'other'"
      >
        {{ msg.text }}
        <span class="time">{{ msg.createdAt }}</span>
      </div>

    </ng-container>

    <ng-template #noConversation>
      <p>Select a conversation to start chatting</p>
    </ng-template>
  </div>

  <!-- Input ALWAYS at bottom -->
  <div class="input-area">
    <input type="text" placeholder="Type a message..." />
    <button>Send</button>
  </div>

</div>


  </div>
</div>
