.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  
}
h2 {
    margin: 0;
    color: #d1e7ff;
  }

/* Body */
.chat-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Left panel */
.conversations {
  width: 280px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.conversation {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  background-color: #3b072e;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.conversation:hover {
  background-color: #5d0b48;
}

.conversation.active {
  background-color: #7a085e;
}

.name {
  font-weight: bold;
  color: #ffffff;
}

.preview {
  font-size: 0.9rem;
  color: #f3c1e6;
}

.time {
  font-size: 0.75rem;
  color: #b693ad;
}

/* Right panel */
.messages-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

p{
  color:#ffffff;
}

.message {
  max-width: 60%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  position: relative;
}

.message.me {
  margin-left: auto;
  background-color: #d1e7ff;
}

.message.other {
  margin-right: auto;
  background-color: #eee;
}

.message .time {
  display: block;
  font-size: 0.7rem;
  color: #666;
  margin-top: 0.25rem;
}

/* Input */
.input-area {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 0.5rem;
}

button {
  margin-left: 0.5rem;
  cursor: pointer;
}
